    <nav class="navbar">
        <div class="logo">
            <h1>Weather Now</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/forcast">Forecast</a></li>
            <li><a href="/aboutwheather">About Weather</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>