<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Weather Website</title>
</head>
<style>
    /* Resetting margins and paddings */
    {{>style}}
</style>

<body class="sunny">
    <!-- Navbar -->
    {{>header}}
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="hero-content">
            <h2>Experience Weather in Real-Time</h2>
            <p>Get the latest weather updates and explore forecasts across the globe.</p>
            <a href="/forcast" class="hero-button">Check Forecast</a>
        </div>
    </section>

    <!-- Main Content: About Weather -->
    {{>middlecontent}}

    <!-- Footer -->
    {{>footer}}

</body>

</html>